
  .counter-section {
    padding: 60px 60px;
  }
  
  .counter-section h2 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .custom-swiper{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
  }
  
  .counter {
    text-align: center;
  }
  
  .counter h3 {
    font-size: 40px;
    margin: 0;
  }
  .pp{
    margin: 0px;
    color: rgb(75, 74, 74);
  }
  .counter p {
    margin: 5px 0;
  }
  .pp{
    margin: 0px;
    color: rgb(75, 74, 74);
  }
  
  .badge {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 20px;
    margin-top: 10px;
    color: white;
    margin-bottom: 10px;
  }
  
  .badge.purple {
    background-color: #a885d8;
  }
  
  .badge.orange {
    background-color: #ffa07a;
  }
  
  .badge.green {
    background-color: #4caf50;
  }
  .custom-swiper {
    display: flex;
    justify-content: center;
    gap: 80px;
    position: relative; 
    height: 100%;
    z-index: 1; 
  }
  
  .custom-swiper .swiper-pagination {
    position: absolute;
    bottom: -3%; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center; 
    z-index: 2;
    overflow: visible; 
  }
  
  .custom-swiper .swiper-pagination-bullet {
    margin: 0 6px; 
  }
  
  .custom-swiper .swiper-pagination-bullet-active {
    background-color: #ff0000; 
  }
  