@font-face {
  font-family: 'MyFont';
  src: url('/fonts/titulo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.titulo {
  font-family: 'MyFont', sans-serif;
  color: red;
  font-size: clamp(28px, 5vw, 40px);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 10px 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header.sticky {
  background-color: #f5efef;
  transition: background-color 0.3s ease;
}


.header-content {
  display: flex;
  align-items: center;
}

.header img {
  width: clamp(70px, 90px, 120px);
  height: clamp(70px, 90px, 120px);
}

.selects {
  margin: 20px;
  font-size: 20px;
  padding: 20px 20px;
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 200px;
  font-size: 16px;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

.selected-option {
  padding: 10px 10px;
  border: none;
  border-radius: 50px;
  letter-spacing: 2px;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  transition: background-color 0.4s, transform 0.4s;
}

.selected-option:hover {
  background-color: #4b9ea6;
  color: white;
  transform: scale(1.1);
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: transparent;
  border-radius: 15px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
  z-index: 1000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.options.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.option {
  padding: 10px 10px;
  text-align: center;
  margin: 2%;
  cursor: pointer;
  letter-spacing: 2px;
  transition: background-color 0.3s, transform 0.3s;
}

.option:hover {
  background-color: #4b9ea6;
  color: white;
  transform: scale(1.05);
}

.header-icons {
  display: flex;
  align-items: center;
}

.heart-icon svg {
  width: 30px;
  height: 30px;
  margin-left: 10%;
  margin-right: 2%;
  cursor: pointer;
}