/* Estilos del modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: all 0.3s ease;
  }
  
  .modal.open {
    display: flex; /* Muestra el modal cuando está abierto */
  }
  
  .modal-content {
    background-color: #fff;
    padding: 30px;
    width: 80%;
    max-width: 800px;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    animation: fadeIn 0.5s ease-out;
  }
  
  .modal-content h2 {
    color: #ff0000;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .modal-content p {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  
  .whatsapp-btn {
    background-color: #25d366; /* Color de WhatsApp */
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
    display: inline-flex;
    align-items: center; /* Alinea verticalmente el contenido */
    justify-content: center; 
  }
  
  .whatsapp-btn img {
    width: 30px;
    height: 30px;
    margin-right: 10px; 
  }
  
  .whatsapp-btn:hover {
    background-color: #128c7e;
    cursor: pointer;
    scale: 1.1;
  }
  
  
  .close-btn {
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .close-btn:hover {
    background-color: #c70000;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  