.home {
    font-family: Arial, sans-serif;
    color: black;
    text-align: center;
    padding: 20px;
  }

  .home-header {
    padding: 50px 30px;
    margin: 0px;
    position: static; 
    background-color: #fff;
    overflow: hidden;
  }
  
  .home-header::before,
  .home-header::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(220, 92, 83, 0.15), transparent 70%);
  }
  
  .home-header::before {
    left: 20%;
    width: 250px;
    height: 250px;
    background: radial-gradient(circle, rgba(37, 174, 85, 0.1));
  }
  
  .home-header::after {
    top: 7%;
    right: 20%;
    width: 280px;
    height: 280px;
    background: radial-gradient(circle, rgba(53, 116, 137, 0.1));
  }
  
  
  .phrase {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
  }
  
  .phrase h1 {
    font-family: 'Arial', sans-serif;
    font-size: clamp(24px, 4vw, 36px); 
    color: #333;
    text-transform: none;
  }
  
  .upper-text {
    /* text-transform: uppercase;  */
    letter-spacing: 2px; 
    display: block; 
  }
  
  .highlight-text {
    font-size: clamp(26px, 6vw, 40px); 
    font-weight: bold;
    color: #ff2f00; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px; 
    text-transform: uppercase; 
  }
  .school-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }